.container{
    margin: 0 auto;
    width: 960px;
}

.pageLogo{
    float: left;
    margin-top: 5px;
}

.connectionLogos{
    float:right;
}

.connectionLogos li{
    display: inline;
}

main {
    clear: both;
}

.hero{
    width: 960px;
}

.paperList img{
    width: 100%;
    z-index: -1;
} 

.paperList{
    position: relative;
}

.listOne{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    margin-left: 50px;
    margin-top: 10px;

}

.listTwo{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
}

.listOne, .listTwo{
    font-size: x-large;
    line-height: 130%;
}